<p-toolbar [style]="{ height: '100px' }">
  <div class="p-toolbar-group-start">
    <img src="assets/icons/icon-72x72.png" alt="logo"/>
  </div>
  <div>
    <p-button
    (onClick)="dialogVisible = true"
    >
      connect
    </p-button>
  </div>
  <div class="p-toolbar-group-center">
    {{ title }}
  </div>
  <div class="p-toolbar-group-end">
    <p-button (onClick)="cartVisible = true">
      <i class="pi pi-shopping-cart" style="font-size: 2rem" pBadge value="{{total()}}"></i>
    </p-button>
  </div>
</p-toolbar>
<p-splitter
  [panelSizes]="[20, 80]"
  [style]="{ height: 'calc(100vh - 100px)' }">
  <ng-template pTemplate>
    <div class="w-full">
      <app-panel-menu/>
    </div>
  </ng-template>
  <ng-template pTemplate>
    <div class="w-full app-content">
      <router-outlet></router-outlet>
    </div>
  </ng-template>
</p-splitter>


<p-dialog header="Edit Profile" [modal]="true" [(visible)]="dialogVisible" [style]="{ width: '25rem' }">
  <span class="p-text-secondary block mb-8">Update your information.</span>
  <div class="flex items-center gap-4 mb-4">
    <label for="email" class="font-semibold w-24">email</label>
    <input pInputText id="email" class="flex-auto" autocomplete="off"  [(ngModel)]="email" />
  </div>
  <div class="flex items-center gap-4 mb-8">
    <label for="password" class="font-semibold w-24">Password</label>
    <input pInputText id="password" class="flex-auto" autocomplete="off"  [(ngModel)]="password"/>
  </div>
  <div class="flex justify-end gap-2">
    <p-button label="Cancel" severity="secondary" (click)="dialogVisible = false" />
    <p-button label="Save" (click)="login()" />
  </div>
</p-dialog>

<p-dialog [(visible)]="cartVisible" [style]="{ width: '25rem' }">
  <app-cart></app-cart>
</p-dialog>


